
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: #00a3ff;
    color: white;
    z-index: 1000;
    position: relative;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

@media (max-width: 768px){
    .hamburger{
        display: flex;
    }

    .nav-links{
        position: absolute;
        top: 70px;
        right: 0;
        background: #00a3ff;
        flex-direction: column;
        width: 200px;
        padding: 1rem;
        display: none;
    }

    .nav-links.open{
        display: flex;
    }
}
